cid = 'xxx'
secret = 'xxx'
agent = 'python:(name):(version) (by (author))'
user = 'xxx'
password = 'xxx'
subreddit = 'xxx'
expired_trigger = 'deal expired'
DailyPostLimit = 0 # anything higher than 0 will enable it
WeeklyPostLimit = 0 # anything higher than 0 will enable it

